<h1>Homepage weDesignMarket</h1>
<p>
<a href="http://www.wedesignlab.it">Clicca qui</a> per scoprire di più (sintassi normale)<br/>
<%= link_to "Clicca qui", about_path %> per scoprire di più (sintassi erb)
</p>
